/* Sign in*/
body.sign-in {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.hide-all{
  display: none !important;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffff;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  margin: 15px 0px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* Dashboard */
/*
 * Sidebar
 */

 .sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0px; /* Height of navbar */
  height: calc(100vh - 48px);
  padding-top: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}
.sidebar-sticky ul{
  margin-top: 20px;
}
.main-logo{
  margin-left: 20px;
  width: 120px;
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link:hover {
  background-color: #1e7e34;
  color: #fff;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.sub-menu{
  margin-top: 0px !important;
  margin-left: 20px;
}
.sub-menu i{
  margin-right: 6px;
}

/*
 * Navbar
 */

.bg-green{
  background-color: #1e7e34!important;
}
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color:#f8f9fa;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

main{
  margin-top: 20px;
}
#section-to-print, #section-to-print table{
  font-size: 16px;
}
.print-logo{
  display: block;
  margin: 5px auto;
}
.w10p{
  max-width: 10% !important;
}
.date-inv{
  position: relative;
  height: 30px;
}
.date-inv .s-inv{
  position: absolute;
  left: 0px;
}
.date-inv .s-date{
  position: absolute;
  right: 50px;
}
.total-table{
  width: 400px;
}
.remove-item-btn{
  color: crimson;
}

@media print {
  body * {
    visibility: hidden;
  }
  .d-print-block  p{
    margin: 0px !important;
  }
  .no-print{
    display: none;
  }  
  .xs-ft{
    font-size: 12px;
    margin: 0px;
    padding: 0px;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0px;
    top: 0;
    width: 340px;
  }
  #section-to-print table{
    font-size: 13px;
  }
  #print-bill{
    visibility: hidden !important;
  }
  .table-bordered {
    border: 1px solid #000000;
  }
  .table-bordered td, .table-bordered th {
    border: 1px solid #000!important;
  }
  .table thead tr td,.table tbody tr td{
    border-width: 1px !important;
    border-style: solid !important;
    border-color: black !important;
    padding: 0px 5px;
  }
  .form-control{
    padding: 0px 5px;
    border: 0px;
  } 
  .date-inv .s-date{
    right: 10px;
  }
}